<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="scanner.component.css">
    <title>Document</title>
</head>
<body>
    

        <div class="logo">
            <img src="/NamedLogo.svg" alt="">
        </div>
         
     <div class="principal">
        
         <h1>Analysez votre scanner</h1>

         <p>Importez votre image de scanner (JPG, PNG …). Notre intelligence artificielle l’analyse
             pour détecter d’éventuels signes de cancer.</p>

        <div class="ajouter_image">
            <div class="ajouter_image1">
              <label for="image">Selectionner une image</label>
              <input type="file" id="image" >

            </div>
        </div> 

       <!-- <div class="resultat_image">
           <div class="image">
            <img src="/img.jpg.jpg" alt="">
           </div>
       </div>
        <div class="button">
            <button class="analysez">Analysez</button>
        </div>-->
      </div> 
      
      
</body>
</html>