
.bg_image{
  position: absolute;
  width: 100%;
  height: 70vh;
  bottom: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.logo_container{
  margin: 30px 0;
}
.welcome_text{
  font-size: 48px;
}
.links_container{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 200px;

}
.link_card{
  width: 350px;
  height: 150px;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 0.4px 0.4px 0.4px rgba(165, 165, 164,.25);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
}
.card_title{
  font-weight: bold;
}
footer{
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials{
  display: flex;
  gap: 20px;
}
.visit_ci{
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1b;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.copy{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@media screen and (max-width : 800px) {
  .bg_image{
    height: 80vh;
  }
}
@media screen and (max-width : 600px) {
  .bg_image{
    height: 90vh;
  }
}
@media screen and (max-width : 1130px) {
  footer{
    padding: 0 60px;
  }
}
@media screen and (max-width : 900px) {
  footer{
    padding: 0 30px;
  }
  .welcome_text{
    font-size: 36px;
  }
}
@media screen and (max-width : 768px) {
  .link_card{
    width: 300px;
    font-size: 14px;
  }
  .socials{
    gap: 10px;
  }
  .socials img{
    width: 24px;
  }
}
@media screen and (max-width : 670px) {
  .links_container{
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .link_card{
    width: 100%;
    font-size: 14px;
  }
  .welcome_text{
    font-size: 26px;
  }
  footer{
    height: 200px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 25px;
  }
  .visit_ci{
    margin-top: 40px;
  }
  .socials{
    gap: 15px;
  }
  .socials img{
    width: 30px;
  }
  .copy{
    top: 180px;
    left: 50%;
    transform: translateX(-50%,0);
  }
}
@media screen and (max-width : 600px) {
  footer{
    padding: 0 50px;
  }
  .welcome_text{
    font-size: 18px;
  }
  .logo_container img{
    width: 100px;
  }
}
@media screen and (max-width : 450px) {
  footer{
    padding: 0 20px;
  }
}
