<img class="bg_image" src="objects.svg" alt="">
<div class="logo_container">
  <img src="NamedLogo.svg" alt="">
</div>
<div class="welcome_text">
  Bienvenue sur <strong>NeoScan</strong> ,votre outil de diagnostic et de détection du <strong>Cancer</strong>.
</div>
<div class="links_container">
  <a routerLink = "/scanner" class="link_card">
    <div class="card_title">Faire un diagnostic</div>
    <div class="card_content">Transmettez les données de votre scanner à notre modèle pour établir un diagnostic précis.</div>
  </a>
  <a routerLink = "/chatbot" class="link_card">
    <div class="card_title">Discutez avec Mariama</div>
    <div class="card_content">Entamez une conversation avec notre IA, Mariama, pour obtenir un diagnostic personnalisé.</div>
  </a>
</div>
<footer>
  <div class="socials">
    <a href="https://ciugb.com" target="_blank"><img src="Icons/Website.png" alt=""></a>
    <a href="https://www.instagram.com/club_info_ugb?igsh=cmoyaGtjNzY3MHIy" target="_blank"><img src="Icons/Instagram.png" alt=""></a>
    <a href="https://www.facebook.com/share/15YSBnS6BA/" target="_blank"><img src="Icons/Facebook.png" alt=""></a>
    <a href="https://www.tiktok.com/@club_info.ugb?_t=ZM-8vhZ3uOfYKj&_r=1" target="_blank"><img src="Icons/TikTok.png" alt=""></a>
    <a href="https://youtube.com/@clubinformatiqueugb?si=rSuJ6UK1T1tjr_gd" target="_blank"><img src="Icons/YouTube.png" alt=""></a>
  </div>
  <a class="visit_ci" href="https://ciugb.com">Visiter Ciugb ↗</a>
  <div class="copy">ciugb © 2025</div>
</footer>
