.main-container{
  padding: 100px 200px;
}
@media screen and (max-width : 900px) {
  .main-container{
    padding: 50px 100px;
  }
}
@media screen and (max-width : 600px) {
  .main-container{
    padding: 50px;
  }
}
@media screen and (max-width : 450px) {
  .main-container{
    padding: 20px;
  }
}
