@font-face {
  font-family: 'NexaLight';
  src: url('/public/fonts/Nexa/NexaLight.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NexaBold';
  src: url('/public/fonts/Nexa/NexaBold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NexaLight', sans-serif;
}
