<div>
    <div class="mariama"> 
    <img src="/Logo.png" alt="Logo"> <span id="unique"> Bonjour, c'est Mariama</span> 
    </div>
    <div class="soustitre"> Comment puis-je vous accompagner dans votre parcours de dépistage du cancer aujourd’hui ?</div>
    <!-- Questions frequentes , INDICATION : ils doivent directement t'ememener vers la discussion -->

    <div class="questionfrequentes">
        <div class="questions">
        <span>Qu'est ce que le cancer exactement ?</span><img src="Icons/suivant.png" alt="Logo" class="image">
        </div>
        <div class="questions">
            <span>Quelles sont les signes precoces du cancer ? </span><img src="Icons/suivant.png" alt="Logo" class="image">
        </div>
        <div class="questions">
            <span>Peut on prevenir le cancer ? </span><img src="Icons/suivant.png" alt="Logo" class="image">
        </div>
    </div>
</div>

<!-- Vue discussion -->
<div class="discussion">
    <div class="demande">
        <!-- question   -->
        <span class="span_demande">  voici la question  </span>
    </div>
    <div class="reponse">
        <img src="/Logo.png" alt="Logo">
        <!-- reponse  -->
        <span>voici la reponse</span>
    </div>
</div>


 <!-- Input -->
<div>
    <input type="text" name="chatbotinput" value="" placeholder="Poser moi toute les questions concernant vor=tre depistage du cancer">
</div>